/*-- scss:defaults --*/
// Base document colors
//$body-bg: white ;
//$body-color: #0f2537;
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

$link-color: #4c9be8;

//navbar
//$navbar-bg: #3B4D5B;
//$nav-tabs-link-active-color:   $body-color !default;
//$nav-link-disabled-color:           rgba(255, 255, 255, .4) !default;
//$navbar-hl: #ebebeb;

// Code blocks
//$code-block-bg-alpha: -.5;
//$code-block-bg: #94C3E9;

// Code color-rendering
$code-color: #2A6392;

// output

$code-block-stdoutcolor: #37424a;
$code-block-stdoutcolor-light: rgba($code-block-stdoutcolor, 0.5);
$code-block-stdoutcolor-lighter: rgba($code-block-stdoutcolor, 0.1);

.cell-output-display pre, .cell-output-stdout pre {
    background-color: $code-block-stdoutcolor-lighter !important;
    border: 1.5px solid $code-block-stdoutcolor-light;
    border-radius: .25rem;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: $code-block-stdoutcolor;
    padding: .4em;
    color: #37424a
}


.cell-output pre code {
    background-color: transparent;
}


